@import url("https://fonts.googleapis.com/css?family=Kanit:200,200i,400,400i,600,600i,700,700i,800,800i");

@mixin FirstLetter {
  color: red;
  font-size: 60px;
  line-height: 45px;
  margin-right: 2px;
}
// === Settings =====
%font-settings {
  font-family: "Kanit", sans-serif;
}
// === Variables =====
$perspective: 60rem;
$font-size: 2rem;
$split-position: 49%;
$split-thickness: 4px;
$split-color: rgb(255, 255, 255);

html {
  scroll-behavior: smooth;
}





.header {
  position: fixed;
  top: 0;
  width: 100%;
  .progress-container {
    width: 100%;
    height: 5px;
    background: transparent;
  }
  .progress-bar {
    height: 8px;
    background: #FFFFFF;
    width: 0%;
  }
}
.logo__navbar {
  position: fixed;
  top: 3vw;
  right: 1vh;
  z-index: 1;
  a {
  display: block;
  padding: 5px;
  }
  .github {
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .linkedin {
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}



.section {
  min-height: 100vh;
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  overflow: hidden;
  .background {
    position: fixed;
  }
}


.section__rellax {
  position: absolute;
  opacity: 1;
  top: 0;
  .section__rellax--name {
    @extend %font-settings;
    font-weight: bold;
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: -0.035em 0 0 #F22613,  0.035em 0 0 #00FFFF;
  }
  &:nth-child(1) {
    left: 5%;
    top: 40%;
  }
  &:nth-child(2) {
    left: 7.5%;
    top: 40%;
  }
  &:nth-child(3) {
    left: 9.8%;
    top: 40%;
  }
  &:nth-child(4) {
    left: 11.5%;
    top: 40%;
  }
  &:nth-child(5) {
    left: 13%;
    top: 40%;
  }
  &:nth-child(6) {
    left: 17%;
    top: 40%;
    text-transform: uppercase;
  }
  &:nth-child(7) {
    left: 19.7%;
    top: 40%;
    text-transform: uppercase;
  }
  &:nth-child(8) {
    left: 22%;
    top: 40%;
    text-transform: uppercase;
  }
  &:nth-child(9) {
    left: 24.5%;
    top: 40%;
    text-transform: uppercase;
  }
  &:nth-child(10) {
    left: 27.3%;
    top: 40%;
    text-transform: uppercase;
  }
}



.section--horizontal {
  height: 300vw;
  .section__inner {
    width: 300vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.section--isFixed {
  .section__inner {
    position: fixed;
  }
}

.section--isScrolled {
  .section__inner {
    bottom: 0;
    top: auto;
  }
}

.products {
  display: flex;
}

.products__content {
  display: flex;
  margin-left: 1.5%;
  margin-right: 2%;
  position: relative;
  top: 225px;
  width: 100vw;
  .products__content--text {
    font-size: 20px;
    padding-left: 35px;
    font-style: italic;
    @extend %font-settings;
    color: white;
    &::first-letter {
      @include FirstLetter;
    }
  }
  img {
    width: 700px;
    height: 450px;
    &:hover {
      filter: blur(5px);
      transition: all 0.2s ease;
    }
  }
  .effect__hover--text {
    position: absolute;
    width: 289px;
    right: 30px;
    left: 30px;
    @extend %font-settings;
    color: white;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    &::first-letter {
      @include FirstLetter;
    }
  }
  .effect__hover:hover .effect__hover--text {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}








.Menu__list {
  @extend %font-settings;
  font-size: $font-size;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  position: fixed;
  margin-left: 70vw;
  z-index: 1;
  text-shadow: -0.035em 0 0 #F22613,  0.035em 0 0 #00FFFF;
  a {
    text-decoration: none;
  }
}

.Menu__list--item {
  position: relative;
  color: transparent;
  cursor: pointer;
  &:first-child{
    margin-right: 25px;
  }
  &:nth-child(2) {
    margin-right: 25px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: $split-position;
    left: -10%;
    right: -10%;
    height: $split-thickness;
    border-radius: $split-thickness;
    margin-top: -($split-thickness / 2);
    background: $split-color;
    transform: scale(0);
    transition: transform .8s cubic-bezier(.16,1.08,.38,.98);
    z-index: 1;
  }
}

// === Top/bottom mask =====
.Mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color: $split-color;
  top: 0;
  height: $split-position;
  transition: all .8s cubic-bezier(.16,1.08,.38,.98);
  span { 
    display: block;
   }
}

.Mask + .Mask {
  top: $split-position - 0.1;
  height: 100 - $split-position + 0.1;
  span { 
    transform: translateY(-$split-position);
  }
}

.Menu__list--item:hover,
.Menu__list--item:active {
  text-shadow: none;
  .Mask { 
    color: #FFF; 
    transform: skewX(12deg) translateX(5px);
  }
  .Mask + .Mask { 
    transform: skewX(12deg) translateX(-5px); 
  }
  &::before { 
    transform: scale(1); 
  }
}