@import url('https://fonts.googleapis.com/css?family=Kanit:200,200i,400,400i,600,600i,700,700i,800,800i');

@mixin logo-git-link {
  top: 2%;
  width: 60px;
  height: 60px;
  position: absolute;
  -webkit-transition: all 0.2s ease;
}


.section {
  min-height: 100vh;
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  overflow: hidden;
  &:nth-child(3) {
    background: white;
    
  }
}

.section__rellax {
  position: absolute;
  opacity: 1;
  top: 0;
  &:nth-child(1) {
    left: 5%;
    top: 40%;
  }
  &:nth-child(2) {
    left: 7.5%;
    top: 40%;
  }
  &:nth-child(3) {
    left: 9.8%;
    top: 40%;
  }
  &:nth-child(4) {
    left: 11.5%;
    top: 40%;
  }
  &:nth-child(5) {
    left: 13%;
    top: 40%;
  }
}

.github {
  left: 90%;
  @include logo-git-link;
  &:hover {
    transform: scale(1.2);
  }
}

.linkedin {
  left: 94%;
  @include logo-git-link;
  &:hover {
    transform: scale(1.2);
  }
}

.section--horizontal {
  height: 300vw;
  .section__inner {
    width: 300vw;
    height: 100vh;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.section--isFixed {
  .section__inner {
    position: fixed;
  }
}

.section--isScrolled {
  .section__inner {
    bottom: 0;
    top: auto;
  }
}

.products {
  display: flex;
}

.products__product {
  display: flex;
  margin-left: 1.5%;
  margin-right: 2%;
  position: relative;
  top: 225px;
  width: 100vw;
  p {
    font-size: 20px;
    padding-left: 35px;
    font-style: italic;
    font-family: 'Kanit', sans-serif;
  }
  p::first-letter {
    color: red;
    font-size: 60px;
    line-height: 45px;
    margin-right: 5px;
    font-weight: bolder;
  }
  img {
    width: 700px;
    height: 450px;
    filter: grayscale(100%) ;
    &:hover {
      filter: none;
      transition: all 0.3s ease;
    }
  }
}

.section--start {
  p {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
  }
}
.section__rellax {
  font-size: 60px;
  color: black;
}


.test {
  position: fixed;
}