@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-image: url("/img/bert-sz-1213179-unsplash.jpg");
}

.rellax__socomptoir {
  margin-top: 200px;
  margin-left: 100px;
  width: 100px;
}
.rellax__tothetop {
  margin-top: 300px;
  margin-left: 1200px;
  width: 100px;
}
.rellax__alien {
  margin-top: -250px;
  margin-left: 340px;
  width: 200px;
}
.rellax__canon {
  margin-top: -300px;
  margin-left: 900px;
  width: 100px;
}
.rellax__linkedin {
  margin-top: 400px;
  margin-left: 750px;
  width: 40px;
}
.rellax__github {
  transform: translate(50%,50%);
  
  width: 40px;
}





